*{
margin: 0;
padding: 0;
}


.odisha {
height: 50px;
width: 100%;
background-color: black;
position: relative;
border: 1px solid white;
}

@font-face {
font-family: headingheading;
src: url('./Chentenario.otf');
}

.heading {
font-family: headingheading;
line-height: 50px;
width: 50%;
background-color: silver;
padding: 0px 5px;
text-align: left;
color: purple;
}


.list_menu {
height: 50px;
width: 50%;
background-color: black;
float: right;
margin-top: -50px;
position: relative;
}

.list_menu ul {
list-style: none;
text-align: right;
position: absolute;
margin: 10px 5px;
}

.list_menu ul li{
display: inline;
padding:10px 20px;
}

a:link{
color: white;
}

a:visited{
color : white;
}

#image {
height: 100vh;
width: 100%;
position: relative;
padding: 10px 10px;
}

#image img{
height: 120px;
width: 150px;
}

#image p {
color: blue;
}

.image2 {
position: absolute;
left: 190px;
top: 10px;
}

.para2 {
position: absolute;
left: 190px;
top: 135px;
}

.image3 {
position: absolute;
left: 370px;
top: 10px;
}

.para3 {
position: absolute;
left: 370px;
top: 135px;
}

.image4 {
position: absolute;
left: 550px;
top: 10px;
}

.para4 {
position: absolute;
left: 550px;
top: 135px;
}


.image5 {
position: absolute;
left: 740px;
top: 10px;
}

.para5 {
position: absolute;
left: 740px;
top: 135px;
}


.image6 {
position: absolute;
left: 10px;
top: 200px;
}

.para6 {
position: absolute;
left: 10px;
top: 330px;
}

.image7 {
position: absolute;
left: 180px;
top: 200px;
}

.para7 {
position: absolute;
left: 170px;
top: 330px;
}


.image8 {
position: absolute;
left: 380px;
top: 200px;
}

.para8 {
position: absolute;
left: 380px;
top: 330px;

}



.image9 {
posiion: absolute;
left: 560px;
top: 200px;
}

.para9 {
position: absolute;
left: 560px;
top: 330px;
}

.image10 {
position: absolute;
left: 740px;
top: 200px;
}

.para10 {
position: absolute;
left: 730px;
top: 330px;
}




