*{
margin: 0;
padding: 0;
}


#main {
height: 100vh;
width: 100%;
background-color: tan;
background-image: url('./dhauli.jpg');
background-size: 100% 100%;
background-repeat: none;
background-attachment: fixed;
}

.aama_odisha {
height: 50px;
width: 100%;
background-color: black;
position: relative;
border: 1px solid white;
}

@font-face {
font-family: headingstyle;
src: url('./Chentenario.otf');
}

.header {
font-family: headingstyle;
line-height: 50px;
width: 50%;
background-color: silver;
padding: 0px 5px;
text-align: left;
color: purple;
}


.menu {
height: 50px;
width: 50%;
background-color: black;
float: right;
margin-top: -50px;
position: relative;
}

.menu ul {
list-style: none;
text-align: right;
position: absolute;
margin: 10px 5px;
}

.menu ul li{
display: inline;
padding:10px 20px;
}

a:link{
color: white;
}

a:visited{
color : white;
}


.welcome {
text-align: center;
position: relative;
padding: 250px 0px;
color: aqua;
}

.para {
padding: 10px 0;
}



#anim_swagat{
height: 80px;
width: 100%;
position: relative;
}

#anim_swagat img{
width: 200px;
height: 100px;
position: absolute;
animation-name: namastewelcome;
animation-duration: 10s;
animation-timing-function: liner;
animation-iteration-count: infinite;
}


@keyframes namastewelcome{
from{left: 25%}
to{left: 60%}
}


#culture {
width: 100%;
height: 300px;
position: relative;
}

#culture img {
float: right;
margin: 30px 150px;
}

.wrap {
word-wrap: break-word;
width: 400px;
padding: 50px 200px;
}

#newpage {
width: 100%;
height: 100vh;
background-image: url('./Odisha-tourism.jpg');
background-size: 100% 100%;
background-repeat: none;
background-attachment: fixed;
position: relative;
}




#login {
position: absolute;
left: 30%;
bottom: 100px;
background: transparent;
border: none;
outline: none;
color: white;
background: #0041C2;
padding: 10px 80px;
border-radius: 10px;
font-size: 18px;
cursor: pointer;
}


#signup {
position: absolute;
left: 53.5%;
bottom: 100px;
background: transparent;
border: none;
outline: none;
color: white;
background: #347C2C;
padding: 10px 80px;
border-radius: 10px;
font-size: 18px;
cursor: pointer;
}



